:root {
    //color
    --primary-color: #FDD30D;
    --secondary-color: #ffffff;
    --dark-color: #000000;

    --primary-bg-color: #171B27;
    --secondary-bg-color: #3D4053;
    --light-bg-color: #ffffff;
    
    --signed-block-color: #13deb9;
    --missed-block-color: #fa896b;

    //font
    --primary-font: "Press Start 2P";
}