.root {
}

.container {
}

.table-header {
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: var(--primary-font);

    &-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.table-cell {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

.search-form {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.search {
    font-family: var(--primary-font);
    padding: 15px 40px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #bbbbbb;
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    border-radius: 10px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}